<table class="list-test-case" id="test-case-<%=test_case.id%>">
  <thead class="test-case-head">
    <tr>
      <td colspan="20">
        <div style="width: 100%; height: 30px; padding: 1px 1px 1px 10px; background-color: <%=status_colors["#{test_case.issue.status.id}"] || "green"%>; border-radius: 10px 10px 0 0;">
          <span style="background-color: white; border-radius: 5px 5px 5px 5px;"> <%=h(test_case.issue.status.name)%> </span>
          <span style="background-color: white; border-radius: 5px 5px 5px 5px; padding: 1px; margin: 0.2%; float:right">
            <%=link_to "", reload_test_case_edit_test_cases_path(test_case_id: test_case.id, project_id: project.identifier), :class => "ui-icon  ui-icon-refresh", style: 'display:inline-block;', remote: true%>
            <%=link_to "", roll_up_test_case_edit_test_cases_path(test_case_id: test_case.id, project_id: project.identifier), :class => "ui-icon  ui-icon-circlesmall-minus", style: 'display: inline-block;', remote: true%>
            <%=link_to "", reload_test_case_edit_test_cases_path(test_case_id: test_case.id, project_id: project.identifier), :class => "ui-icon  ui-icon-newwin", style: 'display:inline-block;', remote: true%>
          </span>
        </div>
      </td>
    </tr>
  </thead>
  <thead class="subject">
    <tr>
      <th>Test Named: <%=test_case.name%></th>
      <td><%=test_case.issue_id ? link_to_issue(test_case.issue) : ""%></td>
      <th><b><%=l(:field_status)%></b>: <%=h(test_case.issue.status.name)%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <thead class="information">
    <tr>
      <th><b><%=l(:field_status)%></b>: <%=h(test_case.issue.status.name)%></th>
      <th class='assigned-to'><%=l(:field_assigned_to)%><%=avatar(test_case.issue.assigned_to, :size => "14").to_s.html_safe  + (test_case.issue.assigned_to ? link_to_user(test_case.issue.assigned_to) : "-")%></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr class="group">
      <td><%=test_case.id%></td>
      <td><%=test_case.name%></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tbody class="test-case-custom-fields">
    <%=render_test_case_custom_fields_rows(test_case.issue)%>
  </tbody>
  <tbody>
    <tr class="group">
      <td colspan="7" >
        <div style="height: 100px; overflow: auto; resize: vertical;">
          <%=textilizable test_case.issue, :description, :attachments => test_case.issue.attachments%>
        </div>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td>История</td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%=link_to 'View History', view_journal_edit_test_cases_path(project_id: project.identifier, issue_id: test_case.issue.id, test_case_id: test_case.id), remote: true%>
      </td>
      <td><%=link_to 'Hide History', '###', onclick: "$( 'tr#journal-test-case-#{test_case.id}').toggle();"%></td>
    </tr>
    <tr id="journal-test-case-<%=test_case.id%>" class="group">
      <td class="journal" colspan="6"></td>
    </tr>
  </tbody>
  <%if User.current.allowed_to?(:update_test_cases, @project)%>
    <tbody>
      <tr id="edit-test-case-<%=test_case.id%>" >
        <td colspan="6"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <%=link_to "Edit Test Case", edit_edit_test_case_path(id: test_case.id, test_case_id: test_case.id, project_id: project.identifier), remote: true%>
        </td>
        <td><%=link_to "Close Edit Test Case", '###', onclick: "$('tr#edit-test-case-#{test_case.id} form').remove();"%></td>
      </tr>
    </tbody>
  <%end%>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td><%=link_to("Show Tree", test_case_path(id: test_case.id, project_id: project.identifier) ) if test_case.parent_id.nil?%></td>
      
      <%if User.current.allowed_to?(:edit_test_cases, @project)%>
        <td>
          <%= link_to "New sub Test Case", new_test_case_path(parent_id: test_case.id, project_id: project.identifier)%>
        </td>
        <td>
          <%=link_to "Edit", edit_test_case_path(id: test_case.id, project_id: project.identifier)%>
        </td>
        <td>
          <%=link_to "Delete", {controller: "test_cases", action: "destroy", id: test_case.id, project_id: project.identifier}, method: "DELETE"%>
        </td>
      <%end%>
    </tr>

  </tbody>
  <thead class="test-case-head">
    <tr>
      <td colspan="20">
        <div style="width: 100%; height: 15px; padding: 1px 1px 1px 10px; background-color: <%=status_colors["#{test_case.issue.status.id}"] || "green"%>; border-radius: 0 0 10px 10px;">
        </div>
      </td>
    </tr>
  </thead>
</table>

